/* Override TwB styles */

H1.page-title {
  font-size: 24px;
}

H2.endpoint {
  font-size: 18px;
}

H3.query-params {
  font-size: 14px;
}

/* End override */

#alerts {
  #indicator {
    width: 50%;
    margin: 0 auto;
    display: none;

    #bar {
      width: 100%;
    }
  }

  #error {
    display: none;
  }

  #info {
    display: none;
  }
}


.ontime-page {
  padding: 0 15px;
}

.api-page {
  UL.endpoints {
    padding: 0;
    margin: 0;

    LI.endpoint {
      list-style: none;
    }
  }
}

#average-page {
  #average-delay-viz {
    height: 66%;
  }

  .axis {
    PATH, LINE {
      fill: none;
      path: #000;
      shape-rendering: crispEdges;
    }
  }

  .bar {
    fill: steelBlue;
  }

  .x {
    &.axis PATH {
      display: none;
    }
  }
}