/* Override TwB styles */

H1.page-title {
  font-size: 24px;
}

H2.endpoint {
  font-size: 18px;
}

H3.query-params {
  font-size: 14px;
}

/* End override */

.ontime-page {
  padding: 0 15px;
}

.api-page {
  UL.endpoints {
    padding: 0;
    margin: 0;

    LI.endpoint {
      list-style: none;
    }
  }
}