<div class="api-page">
  <h1 class="page-title">REST Resources</h1>

  <ul class="endpoints accordion" id="endpoints-list">
    <li class="accordion-group endpoint">
      <h2 class="endpoint accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#endpoints-list" href="#flights">
          <%= @api[:flights] %>
        </a>
      </h2>

      <div id="flights" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><span class="label label-info">GET</span> a list of flights. If the limit parameter is not provided, a  max of 100 documents is the default.<p>

          <h3 class="query-params">Query Parameters</h3>
          <ul>
            <li>limit</li>
          </ul>
        </div>
      </div>
    </li>
    <li class="accordion-group endpoint">
      <h2 class="endpoint accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#endpoints-list" href="#delays">
          <%= @api[:delays] %>
        </a>
      </h2>

      <div id="delays" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><span class="label label-info">GET</span> a list of average delays.</p>

          <h3 class="query-params">Query Parameters</h3>
          <ul>
            <li>airline</li>
            <li>destination</li>
            <li>origin</li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>